In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
response = requests.get('https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors')
doc = BeautifulSoup(response.text)

In [3]:
booklist = []

for book in doc.find_all('tr', itemtype='http://schema.org/Book'):
    booksdict = {}
    booksdict['Rank'] = book.find(class_='number').text.strip()
    booksdict['Name'] = book.find(class_='bookTitle').text.strip()
    booksdict['Author'] = book.find(class_='authorName').text.strip()
    booksdict['Score'] = book.find('a', href='#').text.strip()
    booksdict['Votes'] = book.find('a', href='#').find_next_sibling('a').text.strip()
    booksdict['Rating'] = book.find('span', class_='minirating').text.strip()
    booklist.append(booksdict)

df = pd.DataFrame(booklist)
df.head()

,Author,Name,Rank,Rating,Score,Votes
0,Margaret Atwood,The Handmaid's Tale,1,"4.09 avg rating — 1,101,568 ratings","score: 30,733",314 people voted
1,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",2,"4.33 avg rating — 5,741,857 ratings","score: 28,553",292 people voted
2,Mary Wollstonecraft Shelley,Frankenstein,3,"3.78 avg rating — 1,023,245 ratings","score: 21,909",224 people voted
3,Madeleine L'Engle,"A Wrinkle in Time (Time Quintet, #1)",4,"4.01 avg rating — 902,852 ratings","score: 18,720",196 people voted
4,Ursula K. Le Guin,The Left Hand of Darkness (Hainish Cycle #4),5,"4.06 avg rating — 98,748 ratings","score: 17,920",184 people voted

In [4]:
import re

In [5]:
df['Rating'] = df['Rating'].str.extract(r'(^\d[.]\d\d)')
df['Score'] = df['Score'].str.extract(r'score:(\s(.*)$)')
df['Votes'] = df['Votes'].str.extract(r'(^(\d+))')
df['Title'] = df.Name.str.extract(r"([\w\s']*)[(]?")
df.head(10)

,Author,Name,Rank,Rating,Score,Votes,Title
0,Margaret Atwood,The Handmaid's Tale,1,4.09,"30,733",314,The Handmaid's Tale
1,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",2,4.33,"28,553",292,The Hunger Games
2,Mary Wollstonecraft Shelley,Frankenstein,3,3.78,"21,909",224,Frankenstein
3,Madeleine L'Engle,"A Wrinkle in Time (Time Quintet, #1)",4,4.01,"18,720",196,A Wrinkle in Time
4,Ursula K. Le Guin,The Left Hand of Darkness (Hainish Cycle #4),5,4.06,"17,920",184,The Left Hand of Darkness
5,Veronica Roth,"Divergent (Divergent, #1)",6,4.21,"13,326",138,Divergent
6,Suzanne Collins,"Catching Fire (The Hunger Games, #2)",7,4.29,"12,749",133,Catching Fire
7,Lois Lowry,"The Giver (The Giver, #1)",8,4.12,"12,399",129,The Giver
8,Octavia E. Butler,Kindred,9,4.23,"11,070",116,Kindred
9,Ursula K. Le Guin,The Dispossessed (Hainish Cycle #6),10,4.21,"10,731",112,The Dispossessed

In [8]:
df['Series'] = df.Name.str.extract(r'[(](.*\w\D)[,?|#]')
df.head(20)

,Author,Name,Rank,Rating,Score,Votes,Title,Series
0,Margaret Atwood,The Handmaid's Tale,1,4.09,"30,733",314,The Handmaid's Tale,NaN
1,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",2,4.33,"28,553",292,The Hunger Games,The Hunger Games
2,Mary Wollstonecraft Shelley,Frankenstein,3,3.78,"21,909",224,Frankenstein,NaN
3,Madeleine L'Engle,"A Wrinkle in Time (Time Quintet, #1)",4,4.01,"18,720",196,A Wrinkle in Time,Time Quintet
4,Ursula K. Le Guin,The Left Hand of Darkness (Hainish Cycle #4),5,4.06,"17,920",184,The Left Hand of Darkness,Hainish Cycle
5,Veronica Roth,"Divergent (Divergent, #1)",6,4.21,"13,326",138,Divergent,Divergent
6,Suzanne Collins,"Catching Fire (The Hunger Games, #2)",7,4.29,"12,749",133,Catching Fire,The Hunger Games
7,Lois Lowry,"The Giver (The Giver, #1)",8,4.12,"12,399",129,The Giver,The Giver
8,Octavia E. Butler,Kindred,9,4.23,"11,070",116,Kindred,NaN
9,Ursula K. Le Guin,The Dispossessed (Hainish Cycle #6),10,4.21,"10,731",112,The Dispossessed,Hainish Cycle
10,Margaret Atwood,"Oryx and Crake (MaddAddam, #1)",11,4.01,"10,117",107,Oryx and Crake,MaddAddam
11,Suzanne Collins,"Mockingjay (The Hunger Games, #3)",12,4.03,"9,807",104,Mockingjay,The Hunger Games
12,Audrey Niffenegger,The Time Traveler's Wife,13,3.96,"9,193",98,The Time Traveler's Wife,NaN
13,Connie Willis,"Doomsday Book (Oxford Time Travel, #1)",14,4.03,"8,935",96,Doomsday Book,Oxford Time Travel
14,Ursula K. Le Guin,The Lathe of Heaven,15,4.11,"7,775",84,The Lathe of Heaven,NaN
15,Ann Leckie,Ancillary Justice (Imperial Radch #1),16,3.98,"7,336",81,Ancillary Justice,Imperial Radch
16,Lois McMaster Bujold,"Shards of Honour (Vorkosigan Saga, #1)",17,4.11,"7,017",75,Shards of Honour,Vorkosigan Saga
17,Connie Willis,"To Say Nothing of the Dog (Oxford Time Travel,...",18,4.13,"6,890",74,To Say Nothing of the Dog,Oxford Time Travel
18,Mary Doria Russell,"The Sparrow (The Sparrow, #1)",19,4.17,"6,873",72,The Sparrow,The Sparrow
19,Anne McCaffrey,"Dragonflight (Dragonriders of Pern, #1)",20,4.10,"6,802",74,Dragonflight,Dragonriders of Pern

In [9]:
df['Series Number'] = df.Name.str.extract(r'(\d)')
df.head()

,Author,Name,Rank,Rating,Score,Votes,Title,Series,Series Number
0,Margaret Atwood,The Handmaid's Tale,1,4.09,"30,733",314,The Handmaid's Tale,NaN,NaN
1,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",2,4.33,"28,553",292,The Hunger Games,The Hunger Games,1
2,Mary Wollstonecraft Shelley,Frankenstein,3,3.78,"21,909",224,Frankenstein,NaN,NaN
3,Madeleine L'Engle,"A Wrinkle in Time (Time Quintet, #1)",4,4.01,"18,720",196,A Wrinkle in Time,Time Quintet,1
4,Ursula K. Le Guin,The Left Hand of Darkness (Hainish Cycle #4),5,4.06,"17,920",184,The Left Hand of Darkness,Hainish Cycle,4

In [10]:
df = df.drop(['Name'], axis=1)
df.head(15)

,Author,Rank,Rating,Score,Votes,Title,Series,Series Number
0,Margaret Atwood,1,4.09,"30,733",314,The Handmaid's Tale,NaN,NaN
1,Suzanne Collins,2,4.33,"28,553",292,The Hunger Games,The Hunger Games,1
2,Mary Wollstonecraft Shelley,3,3.78,"21,909",224,Frankenstein,NaN,NaN
3,Madeleine L'Engle,4,4.01,"18,720",196,A Wrinkle in Time,Time Quintet,1
4,Ursula K. Le Guin,5,4.06,"17,920",184,The Left Hand of Darkness,Hainish Cycle,4

In [11]:
df.to_csv("Goodreads.csv", index=False)